body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 가로 스크롤 막기 */
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
    border-bottom: 2px solid #333;
    padding: 10px;
    transition: border-color 0.3s ease;
}

nav ul li:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 215, 35);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* 클릭한거 체크 유지 */
.click {
    border-bottom: 2px solid rgba(255, 215, 35);
}


/* 타이틀 문구 웰컴투~~ */
.title {
    text-align: center;
    margin: 5vw;
    h1{
    text-align: left;
      font-size: 5rem;
      line-height:1;
      text-transform: uppercase;
      /* -webkit-text-stroke: 1px #000; */
      -webkit-text-fill-color: white;
      /* -webkit-font-smoothing: subpixel-antialiased; */
    }
  }


/* 처음 배경사진 -----------------------------------------  */
.background {
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./images/img06.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1; 
}

/* -------------------------------------------- */

main {
    padding: 2em;
    margin-top: 100vh; 
}

section {
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}

/* 메뉴 반응형 */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    form input, form textarea {
        width: 100%;
    }
}

.introduce {
    padding: 50px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin-bottom: 200px;
}

/* --------- */

.content {
    background-color: rgb(255, 215, 35);
    min-height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em; /* 내용의 패딩을 추가 */
    margin-bottom: 100px;
}

/* 화면줄었을때 문구용 : 안보이게 */
.typing2 {
    display: none;
    font-size: 7rem;
    font-weight: bold;
    margin: -5px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid black;
    animation: typing 5s steps(31) infinite, blink 0.75s step-end infinite;
    text-align: left;
}

/* 움직임효과 */

/* 1250 이하로 줄어들면 그림, 문구 세로로  */
@media (max-width: 1250px) {
    .content {
        min-height: 40vh; 
    }

    .cat01 {
        flex-direction: column; 
        text-align: center; 
    }

    .ty {
        margin-left: 0; 
        margin-top: 20px; 
    }
}

/* 700px 이하로 줄어들면 .content 내부 이미지 사이즈 조정 */
@media (max-width: 700px) {
    .content img {
        max-width: 400px;  /* 고양이 그림 줄이기 */
        width: 100%;
        height: auto;
    }

    .typing {
        display: none;
    }

    .typing2 {
        display: block;
    }
}

.cat01 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat01 img {
    margin: 0;
}

.ty {
    margin-left: 20px;
}

.typing {
    font-size: 7rem;
    font-weight: bold;
    border-right: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(31) infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
/* ---------- 화면스크롤움직이는거- */
.content2{
    margin-top: 150px;
    h1 {
        font-size: 3rem;
        margin-bottom: 50px;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    }
}

.scroll_img {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .image1 {
      background: url(./images/img07.jpg) no-repeat;
    background-attachment: fixed;
    /* 사진화면꽉채우게 */
    background-size: cover; 
  }
  
  .image2 {
      background: url(./images/img08.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .image3 {
      background: url(./images/img09.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
 
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #fff;
    background: #333 ;
    font-size: 1.1rem;
  }
  .color2 {
    background-color:  rgba(255, 215, 35);
    color: #333;
  }
  
  /*  jsDelivr CDN import */
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
  
  * {
    font-family: Pretendard;
    padding: 0;
    margin: 0;
  }

/* ------------- */

/* 사진3개 */
.img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Flexbox를 사용하여 아이템들이 감싸도록 */
}

.img_box2 {
    width: 313px;
    border: 2px solid #bbb;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img_box2 img {
    margin: 10px;
    margin-bottom: 50px;
    border: 1px solid #bbb;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform 0.3s ease;
}

.img_box2:hover {
    transform: scale(1.2);
}

.img_box2:hover img {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 화면 작아지면 사진세로정렬하기 */
@media (max-width: 690px) {
    .img_box {
        flex-direction: column;
    }
}

/* contact */
.contact {
    margin: auto;
    width: 80%;
    margin-top: 100px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
        width: 80%;
        margin-bottom: 30px;
    }
}

/* send 버튼 */
button.btn {
    border-radius: 15px;
    display: block ;
    width: 250px;
    height: 50px;
    margin: 10px auto;
    padding: 8px;
    background-color: #333;
    color: white;
    transition: color 1s, width 0.5s, ease-in-out, all 2s;
}

button.btn.hover5:hover {
    cursor: pointer;
    box-shadow: 0 50px 0 0 yellowgreen inset, 0 -50px 0 0 yellowgreen inset;
}
